name : CI Pipeline

on:
  push:
    branch:[ main ]

jobs:
  build:
    runs-on: ubuntu-latest
  

  steps:
    - name: checkout code
      uses: actions/checkout@v5
    
    - name: set up Node.js 
      uses: actions/setup-node@v3
      with:
          node-version: 16
    
    - name: Install dependencies
      run: npm Install
    
    - name: Run testes
      run: npm test 
